<!-- Loop over each object in the projects array -->
{{#each books as |book| }}
<div class="row mb-4 book">
  <div class="col-md-5">
    <h2>
      <a href="/book/{{book.id}}">{{book.name}}</a>
    </h2>
    {{!-- if we have time, we can add a photo of the cover of the book --}}
    <p>By {{book.author}}</p>
  </div>
  
  <div class="col-md-7">
    <p>
      {{book.description}}
    </p>
  </div>
</div>
{{/each}}
